body {
    background-image: url("'login_app/images/background_image.jpg' %}");
    font-family: 'Gloria Hallelujah', cursive;
    background-color:black;
}
html {
    background-color:black;

}

* {
    margin: 0px auto;
    padding: 0px auto;
}



.Three_Center {
   margin-bottom: 100px;
   vertical-align: top;
}





.Wrapper {
    width: 100%;
    padding-top: 5rem;
    margin-left:0px;
    margin-top: 1%;
    
}




/* overlay  with band icons business */



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 150%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.353);
  }

  .Band_Icons {
    position: relative;
    width: 50%;
  }


.Band_Icons:hover .overlay {
    opacity: 1;
  }


  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }




/* overlay business */




/* OVERLAY WITH VENUE  */




.overlay {
    position: absolute;
    height: 100%;
    width: 120%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.538);
  }

  .Band_Venue {
    z-index:0;
    width:auto;
    display:inline;
    margin:0px;
    padding:0px;
    position: relative;
  }
.Venue_Icons {
    position: relative;
    width: 100%;
  }


.Venue_Icons:hover .overlay {
    opacity: 1;
    
  }

a:hover .overlay {
    opacity: 1;
}


  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }






a {
    text-decoration: None; 
    color: black;
}


.Bands {
    margin-left: 6rem;
}


/* ----------------------HEADER---------------- */


.Header{ /* pulling logo left */
    margin-left: 0rem;

}
.Nav{ /* pulling Nav Bar Right*/
    margin-right: 0rem;

}
  .Header {
    flex-direction: left;
    background-color:rgb(0, 0, 0);
    display:block;

}
.Nav {
    flex-direction: right;
    vertical-align: top;
    display:block;

}
.Nav a, .Nav input{
    float: right;
    display:inline-block;
    vertical-align: top;
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
}
input{
    margin-top: .5rem;
}

.navbar-brand, .navbar-brand img {
    z-index:100;
}

#brand {
    z-index:100;
    position: relative;
}
h3 {
    color: black;
}


.Logo2  {
    width: 19%;
    height: 14%;
    position: absolute;

}

a {
    text-decoration: None; 
    color: black;
}
.navbar-default, .navbar, ul {
    background-color: black;
    padding-top:1em;
    z-index:99;
   
}
ul a {
    color:white;
}