body {
    background-color:rgb(0, 0, 0);

    
    height:100%;
    font-size: 1em;

}




.Opener{
    text-align: center;
    text-align: center;
    width:  40%;
    height: 100%;
    background-color: white;
    top: 20%; 
    left: 30%;
    position: absolute; 
    margin: 0px auto;  
    margin-bottom:0px;

}

input {
   
    margin: 0px auto;
    padding: 0px auto;
}


.background_image{
    width: 100%;
    vertical-align: top;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    z-index: 0;
    margin-top: -150px;

}

.Submit {
    margin-top: 2rem;
}

input {
    flex-direction: right;
}


.Circle_Wrap {
    text-align: center;
    padding: 3% 3% 0% 3%;
    width: 40%;
    background-color: white;
    z-index: 3;
    margin: 0px auto;
    margin-top: 6rem;
    position: relative;
    border-radius: 100px;
    padding-bottom: 1%;
    margin-top: 2%;
    
   
}

p {

    padding-top: 5px;
    margin: 100px;
}


.Align {
    margin-top: 2rem;
    vertical-align: top;
    display: inline-block;
    margin-bottom:-16rem;
    margin-right:-1.75rem;
    

    
}

form span {
    /* margin-left:0px; */
    color: blue;
}

label {
    margin-right: 2rem;
    float:left;
    
}
input{
    margin:.5rem;
    margin-right: -5rem;
}

.col-xs-2 {
    margin:.5rem;
}

.inputGroup{
    display:flex;
    justify-content: space-between;
}
h3{
    padding-bottom:0px;
    margin-bottom: 0px;
}


.Slogan {
    /* width: %; */
    /* WORKING WITH OVERLAY*/
    background-color:white;
    border-radius: 5rem;
    color: rgb(26, 84, 84);
    padding: 1rem;
    padding-top: 5%;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Gloria Hallelujah', cursive;

    font-size: 2rem;
    width: 100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
}

#Form_Contain input {
    /* height: 15px; */

}

h3{
    display:inline;


}
a {
    color:#7FB9B8;
}

.Log, .Reg, .Or, a {
    font-size: 3rem;
    margin-top:1rem;
    font-family: 'Gloria Hallelujah', cursive;
    margin-bottom:3rem;
    color: #7FB9B8;

}

.Space{
    /* text-align: left; */
    margin-top: 0rem;
    height: 100px;
    font-size: 1.5rem;
    margin-bottom:0px;
}


input[type=text],input[type=date],input[type=tel],input[type=email],input[type=password] {

    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus,input[type=date]:focus,input[type=tel]:focus,input[type=email]:focus,input[type=password]:focus  {
    background-color: lightblue;
    font-family: 'Gloria Hallelujah', cursive;

}


.container {   
    width: 100%; 
    margin-bottom:0px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px;
    opacity: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    opacity: 100;
  }

.Slogan:hover  img  {
    opacity: 0;
  }
  

.errorMessage {
    position:absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    font-size:  20px;
    width: 20em;
    height: 10em;
    text-align: center;
    bottom: 0;
    z-index: 2;
    background-color:rgba(0, 0, 0, 0.466);
    border-radius: 10px;
    padding:1em;
    color: rgb(27, 198, 255);
    margin: auto;
}