body {
    background-color: white;
  
}


* {
    margin: 0px auto;
    padding: 0px auto;
}

.Header {
    vertical-align: top;
    margin: 10px auto;
    display: inline-block;
    height: 100px;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    background-color: white;
    background: linear-gradient(white, white,white,white, rgba(255, 255, 255, 0.059));
    
}    


/* button {
    display:inline-block;
    background-image: url("search.png") no-repeat;
    background-size: 20px;
    width: 25px;
    height: 25px;
    

}  */



.Nav p  {
    display:inline-block;
    margin: 0px 10px;
     
}

h1 {
    font-size: 4rem;
}


.Nav {
    vertical-align: top;
    display: inline;
    padding-left: 10px;
    overflow: hidden;
    padding: 10px 0px;
      
    }

/* .Header a {
    text-decoration: None; 
} */

.Header p {
    display: inline-block;
    vertical-align: top;
    font-size: 3rem;
    float: right;
    padding-right: 2%;
}

.Header h3 {
    display: inline-block;
    vertical-align: top;
    font-size: 4rem;
    
}




    

