<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/homepage.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script>
    
//     $('#Login_Register').on('click', '[data-toggle="lightbox"]', function(event) {
//                 event.preventDefault();
//                 $(this).ekkoLightbox();
//             });
    </script>
    <title>HomeStay</title>
</head>
<body>

<div class="Hidden_On_Render">
    <div class="Header">
        <img src="{% static 'login_app/images/tiny_logo.png' %}" alt="My image"/ class="Logo">
        <div class="Nav">
            <a href="/messages/inbox"><p>Messages</p></a>
            <a href="/shows/"><p>Venues</p></a>
            <a href="/update_user"><p>Profile</p></a>
            <a href="/logout"><p>Logout</p></a>
            <a href="/host/add_host"><button>Become a Host</button></a>
        </div>
    </div>

    

    <div class="Wrapper">

                <h3>Explore BIY</h3>

              


                <div class="Explore_Icons">
                    <span>Homes</span>
                </div>

                <div class="Explore_Icons">
                        <span>Experiences</span>
                </div>

                <div class="Explore_Icons">
                        <span>Resturaunts</span>
                </div>


            <BR>


                <h3>Experiences</h3>
                <div class="Explore_Icons one column">
                        <img src="{% static 'login_app/images/oso-oso-1.jpg' %}" alt="an image">
                </div>
                <div class="Explore_Icons one column">
                        <img src="{% static 'login_app/images/81.jpg' %}" alt="an image">   
                </div>
                <div class="Explore_Icons one column">
                        <img src="{% static 'login_app/images/COMMUOVERE-by-Blaire-Norton-Photography-1.jpg' %}" alt="an image">   
                </div>
                <div class="Explore_Icons one column">
                        <img src="{% static 'login_app/images/1458734040-3af8ceeedb3833d.jpg' %}" alt="an image">
                </div>
                <div class="Explore_Icons one column">
                        <img src="{% static 'login_app/images/95-og.jpg' %}" alt="an image">   
                </div>
                <div class="Explore_Icons one column">
                        <img src="{% static 'login_app/images/indisposedphotoshootchosen4.jpg' %}" alt="an image">   
                </div>


            <BR>

                <h3>Experiences</h3>
        


    </div>
</div>  <!--Hidden on Render-->
    
</body>
</html>