<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/homepage.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script>
    
//     $('#Login_Register').on('click', '[data-toggle="lightbox"]', function(event) {
//                 event.preventDefault();
//                 $(this).ekkoLightbox();
//             });
    </script>
    <title>BIY</title>
</head>
<body>

<div class="Hidden_On_Render">
    <div class="Header">
        <div class="Nav">
 <img src="{% static 'login_app/images/tiny_logo.png' %}" alt="My image" class="Logo">      
            <a href="/messages/inbox"><p>Messages</p></a>
            <a href="/shows/"><p>Venues</p></a>
            <a href="/update_user"><p>Profile</p></a>
            <a href="/logout"><p>Logout</p></a>
            <a href="/host/add_host"><button>Become a Host</button></a>
     <div class="Nav">
    </div>

    

    <div class="Wrapper">

      

         
       

                <h3 class="Bands">Bands</h3>
                
                <div class="Band_Icons three columns">
                        <img class="Band_Venue"  src="{% static 'login_app/images/oso-oso-1.jpg' %}" alt="an image">
                        <div class="overlay">
                                <div class="text">Oso Oso</div>
                        </div>  
                </div>
                <div class="Band_Icons three columns">
                        <img class="Band_Venue"  src="{% static 'login_app/images/81.jpg' %}" alt="an image"> 
                        <div class="overlay">
                                <div class="text">Raein</div>
                        </div>   
                </div>
                <div class="Band_Icons three columns">
                        <img class="Band_Venue"  src="{% static 'login_app/images/COMMUOVERE-by-Blaire-Norton-Photography-1.jpg' %}" alt="an image"> 
                        <div class="overlay">
                                <div class="text">Commuovere</div>
                        </div>  
                </div>
        </div>
        


   

            <a class="three column" href="/shows/"><h3>Venues</h3></a>  
          

            <div class="Venue_Icons three columns">
                    <img class="Band_Venue"  src="{% static 'login_app/images/bandphoto10.png' %}" alt="an image">
                    <div class="overlay">
                            <div class="text">Francisco Funhouse</div>
                    </div>  
            </div>
            <div class="Venue_Icons three columns">
                    <img class="Band_Venue"  src="{% static 'login_app/images/95-og.jpg' %}" alt="an image">  
                    <div class="overlay">
                            <div class="text">The Dollhouse</div>
                    </div>   
            </div>
            <div class="Venue_Icons three columns">
                    <img class="Band_Venue" src="{% static 'login_app/images/indisposedphotoshootchosen4.jpg' %}" alt="an image"> 
                    <div class="overlay">
                            <div class="text">The House</div>
                    </div>  
            </div>
 



    </div>
</div>  <!--Hidden on Render-->
    
</body>
</html>