<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/homepage.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script>


    </script>
    <style>
       @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
       @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
    </style>
    <title>BIY</title>
</head>
<body>
        <!-- Navbar -->

        <ul class="nav nav-pills navbar-dark bg-dark">
                        <div class="navbar-brand ">
                            <a href="/homepage"><img src="{% static 'login_app/images/logo5.png' %}" width="200" height="100">   </a>   
                        </div>
                        <li class="nav-item">
                          <a class="nav-link active" href="/shows/">Venues</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/update_user">Update Profile</a>
                        </li>
                       
                        <li class="nav-item">
                          <a class="nav-link disabled" href="/host/add_host">Host</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inbox">inbox</a>
                        </li>
                </ul>

    <div class="Wrapper" style="margin-top:3rem;">

                <a class="three column" style="margin-left:0px;"href="/shows/"><h3 class="Bands">Bands</h3></a>
                
                <div class="Band_Icons four columns" style="margin-left:0px;">
                        <img class="Band_Venue"   style="width:120%"  src="{% static 'login_app/images/oso-oso-1.jpg' %}" alt="an image">
                        <div class="overlay">
                                <div class="text"><h3><a href="https://osoosoband.bandcamp.com/">Oso Oso</a></h3></div>
                        </div>  
                </div>
                <div class="Band_Icons four columns">
                        <img class="Band_Venue"   style="width:120%"  src="{% static 'login_app/images/81.jpg' %}" alt="an image"> 
                        <div class="overlay">
                                <div class="text"><h3> <a href="https://reactwithprotest.bandcamp.com/"> Raein</a></h3></div>
                        </div>   
                </div>
                <div class="Band_Icons four columns">
                        <img class="Band_Venue"   style="width:120%"  src="{% static 'login_app/images/COMMUOVERE-by-Blaire-Norton-Photography-1.jpg' %}" alt="an image"> 
                        <div class="overlay">
                                <div class="text"><h3><a href="https://commuovere.bandcamp.com/">Commuovere</a></h3></div>
                        </div>  
                </div>
      
        


   

            <a class="three column" href="/shows/"><h3>Venues</h3></a>  
          

            <div class="Venue_Icons four columns" style="margin-left:0px;">
                    <img class="Band_Venue"   style="width:120%"  src="{% static 'login_app/images/bandphoto10.png' %}" alt="an image">
                    <div class="overlay">
                            <div class="text"><h3> <a href="/shows/venues/5"> Aunt Earnie</a></h3></div>
                    </div>  
            </div>
            <div class="Venue_Icons four columns">
                    <img class="Band_Venue"  style="width:120%" src="{% static 'login_app/images/95-og.jpg' %}" alt="an image">  
                    <div class="overlay">
                        <div class="text"><h3> <a href="/shows/venues/7"> The Big Nothing</a></h3></div>
                    </div>   
            </div>
            <div class="Venue_Icons four columns">
                    <img class="Band_Venue"  style="width:120%"  src="{% static 'login_app/images/indisposedphotoshootchosen4.jpg' %}" alt="an image"> 
                    <div class="overlay">
                            <div class="text"><h3> <a href="/shows/venues/11"> Snake Cave</a></h3></div>
                    </div>  
            </div>
 

        </div>


  <!--Hidden on Render-->
    
</body>
</html>