<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/update_user.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
   
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <title>Edit</title>
</head>
<body>
    <div class="Header">
            <img src="{% static 'login_app/images/tiny_logo.png' %}" alt="My image" class="Logo">
            
        
            
           <h3> Welcome,  {% if user.type_of_user == 1 %}
            {{ user.first_name }}
            {% endif %}

            {% if user.type_of_user == 2 %}
            {{ user.first_name }}
            {% endif %}

            {% if user.type_of_user == 3 %}
            {{ user.first_name }}
            {% endif %}

            {% if user.type_of_user == 4 %}
            {{ user.first_name }}
            {% endif %}</h3>

            <p><a href="/homepage">Home</a></p>
            <p><a href="/logout">Log Out</a></p>
    <!-- THIS EDIT LINK DOESNT WORK YET!!! MAKE EDIT PROFILE PAGE THIS WILL BE DYNAMIC -->
    <p><a href="/edit">Edit Profile</a></p>
      
    </div> <!-- Header -->



    <div class="Body_Content">
    {% if user.type_of_user == 1 %}
  
        <p>{{user.email}}</p>
        <p>{{user.type_of_user}}</p>
  
    {% endif %}
    {% if user.type_of_user == 2 %}
        
        <p>{{user.birthday}}</p>
        <p>{{ user.type_of_user }}</p>
    {% endif %}
    {% if user.type_of_user == 3 %}
      
        <p>{{user.phone_number}}</p>
        <!-- <p>{{ user.type_of_user }}</p> -->
        <h3>Add an upcoming show to your venue page:</h3>
        <form action="/shows/add_show" method="post">
            {% csrf_token %}
            <input type="date" name="show_date">
            Add Line-up: <input type="text" name="bands">
            <input type="submit" value="Add Show">
        </form>
    {% endif %}
    {% if user.type_of_user == 4 %}
        <h1>Welcome, {{user.first_name}}</h1>
        <p>{{user.type_of_user}}</p>
        <h3>Add an upcoming show to your venue page:</h3>        
        <form action="/shows/add_show" method="post">
            {% csrf_token %}
            <input type="date" name="show_date">
            <input type="submit" value="Add Show">
        </form>
    {% endif %}
        </div> <!-- body content div end --> 
       
</body>
</html>