<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/update_user.css' %}" />
   
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <style>
            @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
            @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
         </style>
    <title>BIY - Add Show</title>
</head>
<body>
        <div class="Container">
                <div class="Header headGroup">
                            <a href="/homepage"><img src="{% static 'login_app/images/logo5.png' %}" class="Logo2">   </a>   
                </div>
                <!-- <div class="headGroup">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div> -->
                
                    <div class="Nav headGroup">
                        <a href="/shows/"><p style="margin-right: 20rem;" >Venues</p></a>
                        <a href="/update_user"><p>Profile</p></a>
                        <a href="/logout"><p>Logout</p></a>
                        <a  href="/host/add_host"><p>Host</p></a>
                    </div>
            </div>
   
    <div class="Body_Content">

            <h3> Welcome,  {% if user.type_of_user == 1 %}
                    {{ user.first_name }}.
                    {% endif %}
        
                    {% if user.type_of_user == 2 %}
                    {{ user.first_name }}.
                    {% endif %}
        
                    {% if user.type_of_user == 3 %}
                    {{ user.first_name }}.
                    {% endif %}
        
                    {% if user.type_of_user == 4 %}
                    {{ user.first_name }}.
                    {% endif %}</h3>
    {% if user.type_of_user == 1 %}
    <div class="Inline">
            <h3> Thanks for being a Fan! Become a Host to add shows for a Venue!</h3>
         </div>
  
        <!-- <p>{{user.email}}</p> -->
        <!-- <p>{{user.type_of_user}}</p> -->
  
    {% endif %}
    {% if user.type_of_user == 2 %}
    <div class="Inline">
         </div>
         <h3> Thanks for being a Host and Something else!! Become a Host to add shows for a Venue!</h3>

        <!-- <p>{{user.birthday}}</p> -->
        <p>{{ user.type_of_user }}</p>
    {% endif %}
    <!-- {% if user.type_of_user == 3 %} -->
      
        <!-- <p>{{user.phone_number}}</p> -->
        <p>{{ user.type_of_user }}</p>


        
        <div class="Inline">
            <h3> Thanks for being a Host! Keep your local scene going!<BR> Add an upcoming show to your venue page:</h3>
            <form action="/shows/add_show" method="post">
                {% csrf_token %}
                <label>Show Date:</label><input type="date" name="show_date">
                <label>Add Line-up: </label><input type="text" name="bands">
                <input type="submit" value="Add Show">
            </form>
        </div>
    {% endif %}



    <!-- {% if user.type_of_user == 4 %} -->
        <!-- <p>{{user.type_of_user}}</p> -->
        <div class="Inline">
            <h3>Thanks for being a Host!<BR>Add an upcoming show to your Venue Page:</h3>        
        <form action="/shows/add_show" method="post">
            {% csrf_token %}
            <label>Show Date:</label><input type="date" name="show_date">
            <label>Add Line-up: </label> <input type="text" name="bands">
            <BR>
            <input type="submit" value="Add Show">
        </form>
        </div>
    {% endif %}
        </div> <!-- body content div end --> 
       
</body>
</html>