<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/inbox.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <title>Inbox</title>
</head>
<body>
 
        <ul class="nav nav-pills navbar-dark bg-dark">
                <div class="navbar-brand ">
                    <a href="/homepage"><img src="{% static 'login_app/images/logo5.png' %}" width="200" height="100">   </a>   
                </div>
                <li class="nav-item">
                  <a class="nav-link active" href="/shows/">Venues</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/update_user">Update Profile</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link disabled" href="/host/add_host">Host</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inbox">inbox</a>
                </li>
            </ul>
            <div class="jumbotron">
                 <h1>Requests</h1>
            </div>
    
</body>
</html>