<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shows_app/styles/join_show.css' %}" />
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
            @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
            @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
    </style>
    <title>BIY - Join Show</title>
</head>
<body>
        <ul class="nav nav-pills navbar-dark bg-dark">
                <div class="navbar-brand ">
                    <a href="/homepage"><img src="{% static 'login_app/images/logo5.png' %}" width="200" height="100">   </a>   
                </div>
                <li class="nav-item">
                  <a class="nav-link active" href="/shows/">Venues</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/update_user">Update Profile</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link disabled" href="/host/add_host">Host</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inbox">inbox</a>
                </li>
            </ul>
    <!-- if ban -->
    <div id="Wrapper">

    <h1>Join show for <span style="color:rgb(42, 80, 80)">{{show.show_date}}</span> at <span style="color:rgb(36, 65, 65)">{{venue.space_name}}</span></h1>

    <form action="/shows/band_submission/{{venue.id}}/{{show.id}}" method="POST">
        {% csrf_token %}
        Artist Name: <br><input type="text" name="artist_name"><br><BR>
        
        Bio:<br> <textarea name="bio" cols="30" rows="10"></textarea><br /><BR>
        Social Media Links: <br> <input type="text" name="other_profiles"><br /><BR>
        Email: <br> <input type="email" name="email"><br /><BR>
        <input type="submit" value="Join Show">
    </form>
    </div>
   
</body>
</html>