<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/join_show.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <title>Join Show</title>
</head>
<body>
    <h1>This is where the form will be to join a show</h1>
    <!-- if ban -->

    <h1>Join show for {{show.show_date}} at {{venue.space_name}}</h1>

    <form action="/shows/band_submission" method="POST">
        {% csrf_token %}
        Artist Name: <input type="text" name="artist_name"><br />
        Bio: <textarea name="bio" cols="30" rows="10"></textarea><br />
        Social Media Links: <input type="text" name="other_profiles"><br />
        Email: <input type="email" name="email"><br />
        <input type="submit" value="Join Show">
    </form>
   
</body>
</html>