<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
 
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shows_app/styles/show_list.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>

    
       
    <div class="Nav">
            <a href="/homepage"><img src="{% static 'login_app/images/tiny_logo.png' %}" alt="My image" class="Logo"></a> 
            <a  href="/homepage"><p>Home</p></a> 
            
             <a  href="/"><p>Log Out</p></a> 

    <div class="Nav2">
    <h1>Look up venues:</h1>
    <form action="/shows/" method="POST">
        {% csrf_token %}
        <input type="search" name="city" placeholder="City"><br />
        <input type="search" name="state" placeholder="State"><br />
        <input type="submit" value="Look Up">
    </form>
    </div>
       
    </div>


    <div id="Wrapper">
    

    <h2>Current shows</h2>
   

    <table width="1000px">
            <thead>
                <th>host</th>
                <th>Venue</th>
                <th>capacity</th>
                <th>Photo</th>
                <th>Booze?</th>
                <th>Noise Level</th>
                <th>Gear Available</th>
                <th>Max # of bands per show</th>
                <th>Location Type</th>
                <th>City</th>
                <th>State</th>
                <th>Past Performers</th>
                <th>Join a Show!</th>
            </thead>
            
                {% for venue in venues %}
                <tr>
                <td>{{venue.host_id.first_name}}</td>
                <td><a href="/shows/venues/{{venue.id}}">{{venue.space_name}}</a></td>
                <td>{{venue.capacity}}</td>
                <td>{{venue.photo}}</td>
                <td>{{venue.dry_zone}}</td>
                <td>{{venue.noise_level}}</td>
                <td>{{venue.gear_availability}}</td>
                <td>{{venue.bill_capacity}}</td>
                <td>{{venue.location_type}}</td>
                <td>{{venue.city}}</td>
                <td>{{venue.state}}</td>
                <td>{{venue.past_performers}}</td>
                <td><a href="/shows/venues/{{venue.id}}">Hop On A Bill</a></td>
                
                
                </tr>
                {%endfor%}
            
        </table>

    </div>
    
    <!-- THIS WILL GO TO A FORM to musician submission form-->
</body>
</html>