<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shows_app/styles/venue_profile.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <style>
            @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
            @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
    </style>
    <title>Document</title>
</head>
<body>
        <div class="Container">
                <div class="Header headGroup">
                            <a href="/homepage"><img src="{% static 'login_app/images/logo5.png' %}" class="Logo2">   </a>   
                </div>
                <!-- <div class="headGroup">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div> -->
                
                    <div class="Nav headGroup">
                        <a href="/shows/"><p style="margin-right: 20rem;" >Venues</p></a>
                        <a href="/update_user"><p>Profile</p></a>
                        <a href="/logout"><p>Logout</p></a>
                        <a  href="/host/add_host"><p>Host</p></a>
                    </div>
            </div>

<div id="Wrapper">
    {% if venue.host_id.id == user.id %}
        {% for musician in musicians %}
            {% for info in musician %}
                <h3>***NEW BAND SUBMISSION***</h3>
              
                <p>{{info.artist_name}}</p>
                <p>{{info.bio}}</p>
                <p>{{info.other_profiles}}</p>
                <p>{{info.email}}</p>
                <a href="/shows/accept_band/{{venue.id}}/{{info.show_id}}/{{info.id}}">Accept</a>
                <a href="/shows/deny_band/{{venue.id}}/{{info.id}}">Deny</a>
          
                <hr>
            {% endfor %}
        {% endfor %}
    {% endif %}

    

    <h3 class="Profile">{{venue.space_name}}  |</h3>
    <p class="Profile">Host: {{venue.host_id.first_name}} {{venue.host_id.last_name}} <br />
    Email: {{venue.host_id.email}} </p><br />
    <p class="Desc"> "{{venue.venue_details}}" -  {{venue.host_id.first_name}} (Host) </p>

<div class="WrapProfile">
    <div class="Contain_Photo">
    <img src="/media/{{venue.photo}}" alt="">
    </div>

   

    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    

    </div>



<div class="AlignSections">
    <h3>Upcoming Shows</h3>
    <div class="Border">
   
    <!-- Add a show id at the end of the link below -->
    {% for show in shows %}
        <hr />
        <h4>{{ show.show_date }}</h4>
        {% if show.bands %}
            <h4>{{ show.bands }}</h4>
        {% else %}
            <h3>No Bands Yet!</h3>
        {% endif %}
        <!-- Where is type of user? -->
        <a href="/shows/join/{{venue.id}}/{{show.id}}">Join Show!</a>
        {% if venue.host_id.id == request.session.user_id %}
        <a href="/shows/delete_show/{{show.id}}">Cancel Show</a>
        {% endif %}
    {% endfor %}
    </div>
</div>
 
<div class="AlignSections">
    <h3>Post A Review:</h3>
    <div class="Border">
    <form action="/shows/create_review/{{venue.id}}" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="user_id"> <br />
        How was your experience at {{venue.space_name}}? <br />
        <textarea name="review_description" cols="30" rows="10"></textarea> <br />
        Rating from 1-5: <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select> <br />
        <input type="submit" value="Post Review">
    </form>
    </div>

</div>


<div class="AlignSections">
    <h3>Recent Reviews</h3>
    <div class="Border">
           
            {% for review in reviews %}
                <p> {{review.user_id.first_name}} gave {{venue.space_name}} {{review.rating}} stars</p>
                <p> "{{review.review_description}}"</p>
                <hr />
            {% endfor %}
        </div>
    </div>

</div> 
<!-- wrap profile end -->

</div>



</body>
</html>