<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'shows_app/styles/venue_profile.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="Header">
        <a href="/homepage"><img src="{% static 'login_app/images/tiny_logo.png' %}" alt="My image" class="Logo">   </a>   
        <a href="/shows"><p>More Venues</p></a>
        <a href="/homepage"><p>Home</p></a>
        <a href="/"><p>Log Out</p></a> 
    </div>  

<div id="Wrapper">
    {% if venue.host_id.id == user.id %}
        <h1>TEST</h1>
        {% for musician in musicians %}
            {% for info in musician %}
                <h1>***NEW BAND SUBMISSION***</h1>
                <p>{{info.artist_name}}</p>
                <p>{{info.bio}}</p>
                <p>{{info.other_profiles}}</p>
                <p>{{info.email}}</p>
                <a href="/shows/accept_band/{{venue.id}}/{{info.show_id}}/{{info.id}}">Accept</a>
                <a href="/shows/deny_band/{{venue.id}}/{{info.id}}">Deny</a>
                <hr />
            {% endfor %}
        {% endfor %}
    {% endif %}

    <h1>{{venue.space_name}}</h1>
    Host: {{venue.host_id.first_name}} <br />
    <img src="/media/{{venue.photo}}" alt="">
    Reviews
    Pics
    Other Shits

    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}

    <h1>Upcoming Shows</h1>
    <!-- Add a show id at the end of the link below -->
    
    {% for show in shows %}
        <hr />
        <p>{{ show.show_date }}</p>
        {% if show.bands %}
            <p>{{ show.bands }}</p>
        {% else %}
            <p>No Bands Yet!</p>
        {% endif %}
        <!-- Where is type of user? -->
        <a href="/shows/join/{{venue.id}}/{{show.id}}">Join Show!</a>
        {% if venue.host_id.id == request.session.user_id %}
        <a href="/shows/delete_show/{{show.id}}">Cancel Show</a>
        {% endif %}
    {% endfor %}

    <h1>Recent Reviews</h1>
    {% for review in reviews %}
        <p> {{review.user_id.first_name}} gave {{venue.space_name}} {{review.rating}} stars</p>
        <p> "{{review.review_description}}"</p>
        <hr />
    {% endfor %}

    <h3>Post A Review:</h3>
    <form action="/shows/create_review/{{venue.id}}" method="POST">
        {% csrf_token %}
        Name: <input type="text" name="user_id"> <br />
        How was your experience at {{venue.space_name}}? <br />
        <textarea name="review_description" cols="30" rows="10"></textarea> <br />
        Rating from 1-5: <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select> <br />
        <input type="submit" value="Post Review">
    </form>

</div>
</body>
</html>