

.Header p {
    display: inline-block;
    vertical-align: top;
    font-size: 3rem;
    float: right;
    padding-right: 2%;
}


.Header {
    vertical-align: top;
    margin: 0px auto;
    display: block;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    position: fixed;
    /* background-color: white; */
    background: linear-gradient(white, white,white,white, rgba(255, 255, 255, 0.059));
    
}    
#Nav a{
    display: inline-block;
    vertical-align: top;
}

#Submit{
    width: 150px;
    padding-right: 50px;
}

p {

    vertical-align: top;

}

td {
    padding-right: 5px;
    padding-left: 5px;
}

th {
    padding-right: 7px;
    padding-left: 7px;
}

td {
    margin-right: 10px;
  
}

/* table default on each index */

a {
    text-decoration: none;
}

#Wrapper {
    
    text-align: center;
    width:  50%;
    height: 50%;
    background-color: white;
    top: 10%; 
    left: -15%; 
    position: relative; 
    margin: 0px auto;  
}

#Wrapper h2{
    margin-left:10%;

}

.Nav p{
    display: inline-block;
    padding-right: 100px;
    vertical-align: top;
    padding-top: 1rem;
    font-size: 1.5rem;
   
    border-bottom: 2px black;
    float: right;
  

}

form {
    height: 20px;
    padding: 5px;
    
}


.Nav a {
    display: inline-block;
    padding-right: 100px;
    vertical-align: top;
    font-size: 3rem;
    

    border-bottom: 2px black;
  

}




.Nav2 {
    text-align: center;
    width:  50%;
    height: 50%;
    background-color: white;
    top: 10%; 
    left:-15%;
    position: relative; 
    margin: 0px auto;  
    margin-bottom: 100px;
}

input{
    display: inline-block;
}


.Nav {
   margin-bottom: 5rem;
   /* padding-left: 8rem; */


}

.Logo {
    padding-right: 100px;
}

.Nav2 input {

    margin: 5px 5px;
    
}

.Nav img {
    width: 30%;
    margin-right: 30rem;
}
