#Wrapper {
 
        background-color:green;
        text-align: center;
        width: 470px;
        height: 450px;
        background-color: white;
        left: 245px; */
        top: 20px; */
        position: relative; 
        margin: 0px auto;  
}


td {
    padding-right: 5px;
    padding-left: 5px;
}

th {
    padding-right: 7px;
    padding-left: 7px;
}

td {
    margin-right: 10px;
}

/* table default on each index */

.Header {
    padding: 10px;
}

.Header p {
    display: inline-block;
    vertical-align: top;
    font-size: 2.5rem;
    float: right;
    padding-right: 2%;
}

.Header img {
    display: inline-block;
    vertical-align: top;
}

input {
    margin:10px;
}


