body {
    background-color: white;

}

* {
    margin: 0px auto;
    padding: 0px auto;
}

.Wrapper {
    text-align: center;
    /* width:  40%;
    height: 40%; */
    /* top: 20%;  */
    /* margin: 0px auto;  */
    font-family: 'Gloria Hallelujah', cursive;
 
}
h1{
    margin-top:5rem;

}

.inputGroup input {
    margin-top: 2rem;
    flex-direction: right;
    /* float:right; */
}

.inputGroup label {
    flex-direction: left;
    float: left;
}
form {
    /* display: inline; */
    width: 30%;
padding: 5rem;
    /* height: 100% */
}

select {
    /* margin-bottom: 2%; */
}


    .inputGroup{
            /* margin-top: 2rem;; */

        /* border: 2px solid black;
        width: 30%; */
        /* display: block; */
        justify-content: space-between;
    }


/* ----------------------HEADER---------------- */

.Container { /* CONTAIN ----Header & NAv Links *FROGGY STYLING* display flex space between the children */
    width: 100%;
    height: 10%;
    background-color: black;
    display:flex;
    justify-content: space-between;
}

.Header{ /* pulling logo left */
    margin-left: 0rem;

}
.Nav{ /* pulling Nav Bar Right*/
    margin-right: 0rem;

}
  .Header {
    flex-direction: left;
    background-color:rgb(0, 0, 0);
    display:block;

}
.Nav {
    flex-direction: right;
    vertical-align: top;
    display:block;

}
.Nav a, .Nav input{
    float: right;
    display:inline-block;
    vertical-align: top;
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
}
input{
    margin-top: .5rem;
}




h3 {
    color: black;
}


.Logo2  {
    width: 19%;
    height: 14%;
    position: absolute;

}

a {
    text-decoration: None; 
    color: black;
}


.navbar-default, .navbar, ul {
    background-color: black;
    padding-top:1em;
   
}
ul a {
    color:white;
}