<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <!-- below lines not working -->
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'host_app/styles/add_host.css' %}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style>
            @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
            @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
    </style>
    
    <title>BIY - Add Host</title>
</head>

<body>
  

            <ul class="nav nav-pills navbar-dark bg-dark">
                    <div class="navbar-brand ">
                        <a href="/homepage"><img src="{% static 'login_app/images/logo5.png' %}" width="200" height="100">   </a>   
                    </div>
                    <li class="nav-item">
                      <a class="nav-link active" href="/shows/">Venues</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/update_user">Update Profile</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link disabled" href="/host/add_host">Host</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inbox">inbox</a>
                    </li>
                </ul>

        <div class="Wrapper"> 
        {% if venue %}    
         {% if venue.space_name %}    

         <div class="jumbotron">
            <h2>Welcome Back  {{ user.first_name }}</h2>
             <p>     
            name: {{ user.first_name }} {{ user.last_name }}<br>
            type of user: {{ user.type_of_user }}<br>
            user_id: {{ user.id }}
            Space {{ venue.space_name}}
             </p>
             <button class="btn-primary">
                    <a class="nav-link" style="color: white" href="/update_user">Add Show</a>
             </button>
         </div>  
         {% endif %}
         {% endif %}


    {% if venue == None %}    
    <h1>Become a Host...</h1>
    <form action="/host/create_venue" class="inputGroup" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label> Venue Name:</label>
        <input type="text" name="space_name"><br><BR>
            <hr>
        <label> Venue Bio:</label>
        <textarea name="venue_details" cols="30" rows="10"></textarea><BR><BR>    <hr>
        <label> Booze:</label>
        <select name="dry_zone"><br>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        </select><br>    <hr>
        <label>Overnight Stay:</label> 
        <select name="overnight_option"><br>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br>    <hr>
    <label>Photos</label> 
    <input type="file" name="venue_image" accept="image/*"><BR><BR>    <hr>
    <label>Suggested Donations</label>  
    <select name="suggested_donation"><br>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br>    <hr>
    <label>Promotions:</label> 
    <select name="promotions"><br>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br>    <hr>
    <label>Location Type:</label>  <select name="location_type"><br><br>
                <option value="residential">Residential</option>
                <option value="commercial">Commercial</option>
            </select><br>    <hr>
    <label>Noise Level: </label> <select name="noise_level"><br>
                <option value="soft">Soft</option>
                <option value="medium">Medium</option>
                <option value="loud">Loud</option>
            </select><br>    <hr>
    <label>Capacity: </label> <input type="number" name="capacity"><br>    <hr>
    <label>Gear Provided: </label> <input type="text" name="gear_availability"><br>    <hr>
    <label>Start Time: </label>  <input type="time" name="show_start"><br>    <hr>
    <label>End Time: </label> <input type="time" name="show_end"><br>    <hr>
    <label>Bill Length </label>  <select name="bill_capacity"><br>    
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5+">5+</option>
        </select><br>    <hr>
    <label>Past Performers </label> <input type="text" name="past_performers"><br>    <hr>
    <label>Street Address </label>  <input type="text" name="street_address"><br>    <hr>
    <label>City </label>  <input type="text" name="city"><br>    <hr>
    <label>State </label>  <input type="text" name="state"><br>    <hr>
    <label>Country </label> <input type="text" name="country"><br>    <hr>
    <label>ZipCode </label>  <input type="text" name="zip_code"><br>    <hr>
        <input type="submit" name="sumbit" value="Host Now!">
    </form>

    {% endif %}

    </div>

    
</body>
</html>