<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <!-- below lines not working -->
    <link rel="stylesheet" type="text/css" href="{% static 'login_app/styles/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'host_app/styles/add_host.css' %}" />
    <style>
            @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
            @import url('https://fonts.googleapis.com/css?family=Indie+Flower');
    </style>
    
    <title>BIY - Add Host</title>
</head>

<body>
        <div class="Container">
                <div class="Header headGroup">
                            <a href="/homepage"><img src="{% static 'login_app/images/logo5.png' %}" class="Logo2">   </a>   
                </div>
                <!-- <div class="headGroup">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div> -->
                    <div class="Nav headGroup">
                        <a href="/shows/"><p style="margin-right: 20rem;" >Venues</p></a>
                        <a href="/update_user"><p>Profile</p></a>
                        <a href="/logout"><p>Logout</p></a>
                        <a  href="/host/add_host"><p>Host</p></a>
                    </div>
            </div>


        <div class="Wrapper">          
    <h1>Become a Host...</h1>
<!-- need to add not preferred options below -->

    <form action="/host/create_venue" class="inputGroup" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label> Venue Name:</label>
        <input type="text" name="space_name"><br><BR>
            <hr>
        <label> Venue Bio:</label>
        <textarea name="venue_details" cols="30" rows="10"></textarea><BR><BR>    <hr>
        <label> Booze:</label>
        <select name="dry_zone"><br>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        </select><br>    <hr>
        <label>Overnight Stay:</label> 
        <select name="overnight_option"><br>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select><br>    <hr>
    <label>Photos</label> 
    <input type="file" name="venue_image" accept="image/*"><BR><BR>    <hr>
    <label>Suggested Donations</label>  
    <select name="suggested_donation"><br>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br>    <hr>
    <label>Promotions:</label> 
    <select name="promotions"><br>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br>    <hr>
    <label>Location Type:</label>  <select name="location_type"><br><br>
                <option value="residential">Residential</option>
                <option value="commercial">Commercial</option>
            </select><br>    <hr>
    <label>Noise Level: </label> <select name="noise_level"><br>
                <option value="soft">Soft</option>
                <option value="medium">Medium</option>
                <option value="loud">Loud</option>
            </select><br>    <hr>
    <label>Capacity: </label> <input type="number" name="capacity"><br>    <hr>
    <label>Gear Provided: </label> <input type="text" name="gear_availability"><br>    <hr>
    <label>Start Time: </label>  <input type="time" name="show_start"><br>    <hr>
    <label>End Time: </label> <input type="time" name="show_end"><br>    <hr>
    <label>Bill Length </label>  <select name="bill_capacity"><br>    
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5+">5+</option>
        </select><br>    <hr>
    <label>Past Performers </label> <input type="text" name="past_performers"><br>    <hr>
    <label>Street Address </label>  <input type="text" name="street_address"><br>    <hr>
    <label>City </label>  <input type="text" name="city"><br>    <hr>
    <label>State </label>  <input type="text" name="state"><br>    <hr>
    <label>Country </label> <input type="text" name="country"><br>    <hr>
    <label>ZipCode </label>  <input type="text" name="zip_code"><br>    <hr>
        <input type="submit" name="sumbit" value="Host Now!">
    </form>
    </div>

    
</body>
</html>